.navbar-brand {
  h1 {
    color: $white;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-base * 1.2;
    }

    &:hover {
      color: $yellow;
    }
  }
}

.nav-link {
  color: $white !important;

  &:hover {
    color: $yellow !important;
  }
}

.navbar-nav {
  .nav-item {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}