.navbar-brand {
  h1 {
    color: $white;

    &:hover {
      color: $yellow;
    }
  }
}

.nav-link {
  color: $white !important;

  &:hover {
    color: $yellow !important;
  }
}

.navbar-nav {
  .nav-item {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}