.skills {
    &-content {
        background-color: $primary;

        .sub-heading {
            color: $yellow;
        }

        &-areas {
            .areas {
                background-color: $secondary;

                .description {
                    font-size: $font-size-base * 0.75;
                }
            }
        }
    }
}