{# Text #}
{% set title = title ?? '' %}
{% set subtitle = subtitle ?? '' %}

<div class="container bg-grey-light p-10 my-10 rounded-3xl">
    {% if title %}
        <div class="flex flex-col mb-6 text-center">
            <h3 class="text-white font-secondary text-3xl font-semibold uppercase
            content-before content-after before:lowercase after:lowercase before:text-yellow after:text-yellow before:font-normal after:font-normal" tw-content-before="<h3>" tw-content-after="</h3>">{{ title }}</h3>

            <span class="text-yellow font-secondary uppercase">
                {{ subtitle ? subtitle }}
            </span>
        </div>
    {% endif %}

    {% if skillCardQuery is defined %}
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-6">
            {% for card in skillCardQuery %}
                {{ include('components/cards/_skill-card', {
                    image: card.mainImage[0],
                    title: card.title,
                    body: card.body,
                }) }}
            {% endfor %}
        </div>
    {% endif %}
</div>